body{
    width: 22rem;
    margin: 0;
    padding: 0;
}
.card{
    background-image: linear-gradient(163deg,#00ff76 0%,#3700ff 100%);
    transition: all 0.2s;
}
.card2{
    border-radius: 0;
    transition: all 0.2s;
}
.card2:hover{
    transform: scale(0.98);
    border-radius: 20px;
}
card2:hover{
    border-radius: 0px 0px 30px 1px rgb(0,255,117,0.3);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}
.header_logo img{
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
}
.header_network p{
    border: 1px solid #00642f;
    color: #00642f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    gap: 0.3rem;
    cursor: pointer;
}
#heading{
    text-align: center;
    margin: 2em;
    color: rgb(0,255,200);
    font-size: 1.2rem;
}
.network{
    display: none;
    position: relative;
    width: 100%;
    background-color: #171717;
    right: 0;
    text-align: center;
}
.network .addStyle{
    padding: 1rem 8rem;
    margin-top: 1rem;
}
.network_title{
    font-size: 1rem;
    border: 1px solid rgb(0,255,200);
}
.network_item{
    padding: 0.5rem 4rem;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    cursor: pointer;
    place-content: start;
}
.button3{
    margin-bottom: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(163deg,#00ff76 0%,#3600ff 100%);
    transition: 04s ease-in-out;
    color: rgb(0,0,0);

}
.button3:hover{
    background-image: linear-gradient(163deg,#a00000fa 0%,d10050 100% );
}
/*Home Page Login*/
.home_screen_signup{
    display: block;
    margin: 0 auto;
    background-color: #171717;
    text-align: center;
    padding: 2rem;
}
.home_screen_img{
    width: 100px;
    height: 100px;
}
.home_title{
    color:rgb(0,255,200);
    font-size: 1.2rem;
    cursor: pointer;
}
.import_account .connectWallet,
.import_token .connectWallet,
.transfer_form .connectWallet,
.create_popUp .connectWallet,
.home_screen_login .connectWallet,
.home_screen_signup .connectWallet{
    padding: 1rem 5rem;
    margin-top: 1rem;
}

.home h1,
.home_tabs p,
.assets_item span,
.lists p,
.accountData p,
.home_header p,
.network_item span,
.network p,
.home_screen_login p,
.home_screen_signup p{
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Sign up*/
.create_popUp{
    display: none;
    margin: 0 auto;
    background-color: #171717;
    text-align: center;
    padding: 2rem;
    color: rgb(0,255,200);
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
}
.field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    background-color: #171717;
    box-shadow: inset 25px 5px 10px rgb(5,5,5);
}
.input-icon{
    height: 1.3em;
    width: 1.3em;
    fill: rgb(0,255,200);
}
.input-field{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: rgb(0,255,200);
}
/*Loader*/
.center{
display: none;
justify-content: center;
align-items: center;
margin: 0 auto;
}
.loader{
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
}
.loader div{
    width: 8%;
    height: 24%;
    background: rgb(155,155,155);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgb(0,0,0,0.2);
    animation: fade458 1s linear infinite;
}
@keyframes fade458{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.25;
    }
}
.loader .bar1{
    transform: rotate(0deg) translate(0,-130%);
    animation-delay: 0s;
}
.loader .bar2{
    transform: rotate(30deg) translate(0,-130%);
    animation-delay: -1.1s;
}
.loader .bar3{
    transform: rotate(60deg) translate(0,-130%);
    animation-delay: -1s;
}
.loader .bar4{
    transform: rotate(90deg) translate(0,-130%);
    animation-delay: -0.9s;
}
.loader .bar5{
    transform: rotate(120deg) translate(0,-130%);
    animation-delay: -0.8s; 
}
.loader .bar6{
    transform: rotate(150deg) translate(0,-130%);
    animation-delay: -0.7s; 
}
.loader .bar7{
    transform: rotate(180deg) translate(0,-130%);
    animation-delay: -0.6s; 
}
.loader .bar8{
    transform: rotate(210deg) translate(0,-130%);
    animation-delay: -0.5s; 
}
.loader .bar9{
    transform: rotate(240deg) translate(0,-130%);
    animation-delay: -0.4s; 
}
.loader .bar10{
    transform: rotate(270deg) translate(0,-130%);
    animation-delay: -0.3s; 
}
.loader .bar11{
    transform: rotate(300deg) translate(0,-130%);
    animation-delay: -0.2s; 
}
.loader .bar12{
    transform: rotate(330deg) translate(0,-130%);
    animation-delay: -0.1s; 
}
.accountData{
    word-wrap: break-word;
}
.accountData{
    display: none;
}
/*Login Components*/
.home_screen_login{
    display: none;
    margin: 0 auto;
    background: #171717;
    text-align: center;
    padding: 2rem;
}

/*Transfer Components*/
.transfer_form{
    display: none;
}
.goBack{
    width: 50px;
    height: 50px;
    list-style: 0;
}
/*Import Token*/
.import_token{
    display: none;
}
/*Import Account*/
.import_account{
    display: none;
}
/*Home Components Main body*/
.home{
    margin: 0 auto;
    background-color: #171717;
    text-align: center;
    padding: 1rem 2rem;
    display: none;
}
.home_header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.home_header_img{
    margin-top: 1rem;
    width: 50px;
    height: 50px;
}
.home_features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.home_features_img{
    margin-top: 1rem;
    width: 30px;
    height: 30px;
}
.home_features_item > p{
    line-height: 0;
    color: #00ff75;
}
.home_tabs{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-top: 1rem;
}
.assets_item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-area: 2rem;
    border: 1px solid #00ff75;
    padding: 1rem 0;
}
.assets_item_img{
    width: 20px;
    height: 20px;
    border: 1px solid #00ff75;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/*Logout*/
.logout{
    cursor: pointer;
}
.asset{
    cursor: pointer;
}
.activity{
    cursor: pointer;
}
.lists{
    display: grid;
    grid-template-columns: 0.1fr 5fr;
    border-bottom: 1px solid #00ff75;
    justify-content: space-between;
}